:root {
    --color-header-block: gray;
    --color-content-block: lightgray;
    --color-white: #fff;
    --font-roboto: 'Roboto', sans-serif;
}

body {
    overflow: hidden;
    height: 100vh;
}

.container {
    width: 80%;
    height: auto;
    margin: auto;
}

.main-table, .pivot-table  {
    width: 100%;
    height: auto;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
}

.table__header {
    height: 50px;
    width: 100%;
    margin-bottom: 0.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.table__header h3 {
    font-family: var(--font-roboto);
    color: var(--color-white);
}

.table__content {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.table__content p {
    font-family: var(--font-roboto);
}

.table__content_row  {
    height: 100%;
    width: 100%;
    margin-bottom: 0.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.table__header_name, .table__header_created, 
.table__header_category, .table__header_content,
.table__header_date  {
    width: 17%;
    height: 100%;
    background-color: var(--color-header-block);
    display: flex;
    flex-direction: row;
    align-items: center;
}

.table__header_icon {
    width: 5%;
    height: 100%;
    background-color: var(--color-header-block);
}

.table__header_nav {
    width: 10%;
    height: 50px;
    background-color: var(--color-header-block);
    display: flex;
    justify-content: right;
    align-items: center;
}

.content {
    width: 17%;
    height: 50px;
    background-color: var(--color-content-block);
    display: flex;
    align-items: center;
}

.pivot-header, .pivot-content {
    width: 32%;
}

.pivot-table > .content {
    width: 30%;
}

.content-icon {
    width: 5%;
    height: 50px;
    background-color: var(--color-content-block);
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-icon > img,
.content-nav > img, .table__header_nav > img {
    height: 35px;
    width: 35px;
}

.content-nav > img:hover, .table__header_nav > img:hover {
    cursor: pointer;
    opacity: 0.6;
}

.content-nav {
    width: 10%;
    height: 50px;
    background-color: var(--color-content-block);
    display: flex;
    justify-content: right;
    align-items: center;
}

#table-button-create {
    width: 100px;
    height: auto;
    border-radius: 20px;
    background-color: var(--color-content-block);
    margin: 0 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

#table-button-create > button {
    font-family: var(--font-roboto);
    font-size: 1.05em;
}

#table-button-create > button:hover {
    cursor: pointer;
    opacity: 0.6;
}

.create-note__modal, .edit-note__modal {
    position: absolute;
    left: 40%;
    top: 25%;
    height: 350px;
    width: 20%;
    background-color: var(--color-content-block);
    border-radius: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
}

.create-note__modal > input, .create-note__modal > select,
.edit-note__modal > input, .edit-note__modal > select {
    display: flex;
    justify-content: center;
    border-radius: 25px;
    padding: 0 30px;
    border: 2px solid var(--color-header-block);
    background-color: var(--color-white);
    width: 80%;
    box-sizing: border-box;
    height: 60px;
}

.create-note__modal > select, .edit-note__modal > select {
    font-family: var(--font-roboto);
    font-weight: 600;
}
 
.create-note__modal > button, .edit-note__modal > button {
    background-color: var(--color-white);
    width: 30%;
    height: auto;
    border-radius: 25px;
    border: 2px solid var(--color-header-block);
    font-family: var(--font-roboto);
}

.create-note__modal > button:hover, .edit-note__modal > button:hover {
    cursor: pointer;
    opacity: 0.6;
}

.create-note__overlay, .edit-note__overlay {
    z-index: 90;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0.6;
}

.create-note, .edit-note {
    display: none;
}